.container {
	margin: 30px;

	display: flex;
	flex-direction: column;
	justify-content: center;

}

.container__result {
	margin: 30px;
	padding: 30px;
	border: 2px dashed black;
	border-radius: 30px;
}


.container__header {
	display: flex;
	background: #85C156;


	border-radius: 30px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	color: #ffffff;

}

.header__image {
	background: #ffffff;

	padding: 30px;
	border-radius: 30px;
	margin: 30px;

	max-height: 150px;

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	display: flex;
	align-items: center;
	justify-content: center;
}

.header__right-info {
	flex-grow: 1;

	display: flex;
	flex-direction: column;

	padding: 30px;

}

.title {
	font-size: 40px;
}

.container__test {
	margin: 30px 70px 0px 70px;
}

.test {
	display: flex;
	flex-direction: column;

	border: 2px #000000 solid;
	border-radius: 30px;
	padding: 30px;

	margin-top: 30px;

	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.test h4 {
	margin-top: 10px;
}

.test p {
	display: flex;
	align-items: center;
	margin-top: 20px;
}

.test button {
	margin-top: 30px;
	font-size: 20px;

	width: 200px;

	border: 0;
	border-radius: 30px;

	color: #ffffff;

	background: #85C156;
}

.test button:hover {
	background: #4e772e;
}

.test button:active {
	background: #000000;
}

.button-submit {
	align-self: center;
	width: 80vw;
	padding: 10px 0;
	background: #85C156;
	color: #ffffff;
	font-size: 30px;
	margin-top: 30px;

}

label {
	margin-left: 10px;
}

.red {

	color: rgb(114, 0, 0);
}

.orange {

	color: rgb(165, 107, 0);
}

.yellow {
	margin-bottom: 30px;
	color: rgb(179, 189, 45);
}

.green {
	margin-bottom: 30px;
	color: rgb(52, 165, 52);
}

details {
	margin-bottom: 30px;
}

details h3 {
	margin: 30px 0;
}

.testLvl {
	font-size: 20px;
	padding: 5px 10px;
	width: 40px;
	margin-right: 20px;
}

.Test_lvl {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 30px;

}

.Test_lvl label {
	margin-bottom: 10px;
}