@import 'header.css';
@import 'container.css';
@import url('https://fonts.googleapis.com/css2?family=Harmattan&display=swap');

* {
	padding: 0;
	margin: 0;
	user-select: none;
	font-family: 'Courier New', Courier, monospace;
}